
*.xml
*.properties
*.mf
EVA1_15_MATRIZ/build/classes/.netbeans_automatic_build
EVA1_15_MATRIZ/build/classes/.netbeans_update_resources
*.class
EVA1_16_ARREGLOS_BIDIMENSIONALES/build/classes/.netbeans_automatic_build
EVA1_21_ARREGLO_OBJETOS/build/classes/.netbeans_automatic_build
EVA1_16_ARREGLOS_BIDIMENSIONALES/build/classes/.netbeans_update_resources
*.rs
EVA1_21_ARREGLO_OBJETOS/build/classes/.netbeans_update_resources
EVA1_22_TIEMPO_FOR/build/classes/.netbeans_update_resources
EVA1_22_TIEMPO_FOR/build/classes/.netbeans_automatic_build
EVA1_23_NUMEROS_PRIMOS/build/classes/.netbeans_automatic_build
EVA1_23_NUMEROS_PRIMOS/build/classes/.netbeans_update_resources
*.jar
*.TXT
EVA1_7_COPA_OBJETOS/build/classes/.netbeans_automatic_build
EVA1_7_COPA_OBJETOS/build/classes/.netbeans_update_resources
EVA1_9_USANDO_ARREGLOS/build/classes/.netbeans_automatic_build
EVA1_9_USANDO_ARREGLOS/build/classes/.netbeans_update_resources
EVA1_TIPOS_DATOS_PRIMITIVOS/build/classes/.netbeans_automatic_build
EVA1_TIPOS_DATOS_PRIMITIVOS/build/classes/.netbeans_update_resources
